:root {
  font-size: 65.2%;
  --bg-color-gray: #8e9aaf;
  --bg-color-pink-ligth: #eff1ff;
  --color-pink: #feeafa;
  --ft-color: #23053a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  max-width: 100%;
  background-color: var(--bg-color-pink-ligth);
}

header {
  background-color: var(--bg-color-gray);
  height: 22.5rem;
  min-width: 38rem;

  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  width: 10rem;
  height: 10rem;

}

header p {
  height: 4rem;
  background-color: var(--color-pink);
  width: 100%;
  text-align: center;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4rem;

  /* identical to box height, or 85% */

  letter-spacing: 0.05em;

  color: #ffffff;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

article {
  margin: 2rem;
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
  /* or 75% */

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--ft-color);
}

main {

  /* background-color: #8e9aaf; */
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media(min-width:1060px) {
  main {
    flex: 2;
    display: grid;
    width: 100%;

    grid-template-areas: " A B C"
      "D B E"
      "D F E";
  }

  main .card:nth-child(1) {

    grid-area: A;

  }

  main .card:nth-child(2) {
    grid-area: C;

  }

  main .card:nth-child(3) {
    grid-area: B;

  }

  main .card:nth-child(4) {
    grid-area: F;
    
  }

  main .card:nth-child(5) {
    grid-area: D;

  }
  
  main .card:nth-child(6) {
    grid-area: E;
    
  }
  
  
  .header-ribon {
    margin:2rem;
    background-color: var(--bg-color-gray);
    flex: 1;
  }

  body {
    max-width: 100%;
    background-color: var(--bg-color-pink-ligth);
  }

  .page {
    display: flex;
    flex-direction: row;

  }

  header {
    background-color: var(--bg-color-gray);
    height: 22.5rem;
   

    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  article {
    margin: 2rem;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;


    display: flex;
    align-items: center;
    text-align: justify;


  }
  

}

.card {

  max-width: 48rem;
  border-radius: 20px;
  position: relative;
  text-align: center;


}

.card img {
  width: 100%;
  transition: all 900ms;
  filter: brightness(0.5);
  animation: topdown 700ms 350ms backwards;

}

.card img:hover {
  transform: scale(1.05);
  filter: brightness(1);
}

.card p {
  position: absolute;
  padding: 1rem;
  width: 7rem;
  height: 2rem;
  top: 2rem;
  right: 2rem;

  background: #feeafa;
  border-radius: 20px;

  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 20px;
  line-height: 34px;

  width: fit-content;
  block-size: fit-content;
  padding: 5px 23px;

  color: #4a4e69;
  animation: downtop 700ms 350ms backwards;

}


@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
