/* font-family: 'Palanquin', sans-serif;
font-family: 'Staatliches', cursive; */
:root{
    --bg-background:#EFF1FF;
    --bg-header-color:#8E9AAF;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Staatliches', cursive;
    background-color: #fbf7ff;
   

}

header {
    background-color: #8E9AAF;
    height: 279px;


    justify-content: center;
    text-align: center;
    background-image: url('./assets/background.jpg');
    background-image: linear-gradient(  rgba(147, 70, 140, 0.595),#FFF);
 

}

header img {
    margin-top: 32px;
    width: 137px;
    height: 137px;

}

header h1 {
    height: 49px;
    background-color: #9e35f4;
    color: #FFF;
    line-height: 49px;
    margin-top: 32px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

}

main {
    padding: 14px 32px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

main section {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #23053A;

}

main section p {
    text-align: center;
    padding: 14px 0 32px;
}


.card {
    border-radius: 20px;
    position: relative;



}

.card img {
    object-fit: cover;
    transition: all 900ms;
    filter: brightness(0.5);
    animation: topdown 700ms 350ms backwards;

}

.card img:hover {
    transform: scale(1.05);
    filter: brightness(1);
}

.card p {
    text-transform: capitalize;
    text-align: center;
    line-height: 35px;
    width: 112px;
    height: 35px;
    position: absolute;

    right: 15px;
    top: 10px;

    background: #FEEAFA;
    border-radius: 20px;
    animation: downtop 700ms 350ms backwards;

}




footer{
    width: 100%;
    height: 12rem;
    background-color: #1e1e1e;
}
footer p{
    text-align: center;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}